.Main {
    margin-top: 64px; 
    padding: 20px;
    height: calc(100vh - 64px); 
    overflow-y: auto; 
    background-color: #f9f9f9; 
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .Main {
        margin-top: 56px; 
        height: calc(100vh - 56px); 
    }
}
